* {
  box-sizing: border-box;
  margin: 0;
  scroll-behavior: smooth;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

p {
  font-size: 1.5rem;
  letter-spacing: 1px;
  line-height: 1.5em;
  color: #333;
}

a {
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

/* Navigation Bar */

.header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 200;
  background-color: white;
}

.header--nav {
  padding: 1em 3em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav--logo {
  font-size: 3rem;
  color: #7c7c7c;
}

.nav-menu-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.nav-menu-icon * {
  width: 30px;
  padding: .1em;
  border-bottom: 2.5px solid #7c7c7c;
}

.active {
  border-color: #c900c9;
}

.nav--list {
  padding: 0;
  list-style: none;
  position: absolute;
  background-color: orange;
  height: 100vh;
  width: 40vh;
  z-index: 100;
  top: 0;
  left: 0;
  font-size: 2.5rem;
  padding: 1em;
  color: white;
  transform: translateX(-120%);
  transition: transform 200ms;
}

.show {
  transform: translateX(0%);
}

.nav--list .nav--list-item {
  padding: 0 1em;
}

.nav--list-link:hover {
  color: #c900c9;
}


/* Intro Section */

.intro-box {
  max-width: 800px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: center;
  justify-items: center;
}


.intro-design {
  position: relative;
  display: flex;
  text-align: center;
  justify-content: center;
  max-width: 500px;
  margin: 130px 0;
}

.intro--image {
  background-image: url("./images/edited.jpg");
  background-size: contain;
  display: block;
  background-color: #ddd;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  z-index: 2;
}

.before {
  width: 340px;
  height: 450px;
  display: inline-block;
  position: absolute;
  background: linear-gradient(to bottom right, rgb(255, 174, 24), #df9204);
  z-index: -1;
  top: -25%;
  left: 25%;
  border-radius: 90% 50% 100% 40%/90% 50% 80% 30%;
}

.after {
  width: 200px;
  height: 200px;
  display: inline-block;
  position: absolute;
  background: linear-gradient(to bottom right, #c900c9, purple);
  border-radius: 50%;
  bottom: -40%;
  right: 20%;
  z-index: 2;
}

.intro-title {
  font-size: 4rem;
}

@media (max-width:600px) {
  .intro-box {
    justify-items: start;
  }
}

/* Projects Section */



.projects-box {
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  gap: 2em;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
}

.section--projects--project {
  max-width: 310px;
  text-align: center;
}


.project-image {
  width: 250px;
  height: 300px;
  margin: auto auto;
  display: block;
  background-color: #333;
}

.project-link {
  display: inline-block;
  padding: .5em 2em;
  background-color: #c900c9;
  color: whites;
  border-radius: 20px;
  /* color: #333;
  border-bottom: 2px solid #333; */
  cursor: pointer;
}

.project-link:hover {
  color: black;
  border-color: black;
}

.project-link:first-child {
  margin-right: 1em;
}

@media(min-width:975px) {

  .section--projects {
    position: relative;
    z-index: 2;
  }

  .section--projects::after {
    content: "";
    display: block;
    position: absolute;
    background-color: orange;
    width: 100%;
    height: 60px;
    top: 50%;
    left: 0;
    z-index: -2;
  }

}

/* Skills Section */

.skills-box {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.skill-logo {
  font-size: 2rem;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  margin: 0 auto;
  background-color: #c900c9;
  border-radius: 50%;
}

.skill-name {
  color: #333;
  font-size: 2.5rem;
}

@media(max-width:600px) {

  .skills-box {
    flex-direction: column;
    align-items: center;
  }

  .skill-name {
    border-bottom: 2px solid #333;
  }

}

/* Education Section */

.section--education .education--content:nth-child(2n) {
  background-color: #c900c9;
}

.education--content {
  width: 60%;
  margin: 1.5em auto;
  padding: 1em;
  background-color: orange;
  border-radius: 25px;
  text-align: center;
}

.education--content * {
  color: white;
}

/* Footer */

.footer--contact {
  background-color: #333;
  color: white;
  text-align: center;
}

.contact-box * {
  padding: 1em;

}

.contact--title {
  width: fit-content;
  margin: 0 auto;
  padding: .5em;
  border-bottom: 2px solid gray;
}

.contact-link {
  display: block;
  width: fit-content;
  margin: 0 auto;
}

.contact-link:hover {
  color: orange;
}

.contact-mail {
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-input {
  margin-left: 1em;
  padding: .5em;
  outline: none;
  border-radius: 20px;
  border: none;
}

@media (min-width: 875px) {

  .contact-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }

  .contact--title {
    align-self: start;
  }

}


/* Section Titles */

section {
  padding: 2em;
}

section * {
  margin: 1em 0;
}

@media (min-width:1000px) {
  section {
    max-width: 1200px;
    margin: auto auto;
  }

}

.skills--title,
.projects--title,
.education--title {
  position: relative;
  z-index: 2;
  width: fit-content;
}


.skills--title::after,
.projects--title::after,
.education--title::after {
  display: block;
  position: absolute;
  content: "";
  width: 120%;
  height: 5px;
  background-color: #c900c9;
  bottom: -5%;
  left: 0;
  z-index: -1;
  border-radius: 5px;
}

.skills--title::after {
  background-color: orange;
}